.main-not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto';
  background-color: #000000;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 88%;
  padding: 20px;
  width: 100%;
}

.not-found-image {
  width: 26%;
  height: 55%;
}

.not-found-heading {
  color: #f1f5f9;
  font-size: 28px;
  margin-bottom: 0px;
}

.not-found-para {
  color: #cbd5e1;
  font-size: 13px;
  line-height: 1.5;
}
